$text-gray:#6e6f71;
$bg-blue: #1e70ce;
$bg-dark-blue: #2954cd;
$bg-purple: #5b75fc;

* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica", sans-serif;
    background-color: #f5f5f5;
}

.chatbox {
    float: right;
    width: 100%;
    min-width: 250px;
    height: 80vh;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.chatlogs {
    min-width: 250px;
    width: 100%;
    height: 80%;
    overflow-y: auto;
    padding: 16px;
}

.chatlogs .msg {
    min-width: 250px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.chatlogs .msg.me {
    text-align: left;
    background-color: #f4f4f4;
    color: black;
    border-radius: 10px 10px 0 10px;
    padding: 10px 24px;
    margin-left: auto;

}

.chatlogs .msg.bot {
    text-align: left;
    background-color: $bg-purple;
    color: white;
    border-radius: 0px 10px 10px 10px;
    padding: 10px 24px;
    margin-right: auto;
}

.chatbox .chatinput {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    padding: 10px 32px;
    position: relative;
    justify-content: center;
    gap: 16px;
}

.chatbox .chatinput input {
    height: 40px;
    width: 80%;
    border: 2px solid #ddd;
    border-radius: 30px;
    padding: 0 15px;
}

.chatbox .chatinput .send {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $bg-blue;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
}

.chatbox .chatinput .send .icon {
    font-size: 22px;
    color: #fff;
    width: 70%;
    height: 70%;                
}

.chatbox .chatinput .text-gray {
    color: $text-gray;
}

.recording{
    padding: 1em;
    background-color: #f41111;
    border: 2px solid black;
}
.hidden{
    display: none;
}