.darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    width: auto;
    height: auto;
    background: white;
    color: #1d1d1d;
    z-index: 10;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.40);

    textarea{
        resize: none;
        max-height: 200px;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
    }
}
.modalHeader {
    height: 50px;
    background: white;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-bottom: 1px solid #1b1b1b;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 16px;
}
  