@import './components/navigation';
@import './components/buttons';
@import './components/ripples';
@import './components/toasts';

$dark-color: #2f2d52;
$light-color: #ddddf7;

@mixin mobile{
    @media screen and (max-width: 480px){
        @content;
    }
}
@mixin tablet{
    @media screen and (max-width: 768px){
        @content;
    }
}
@mixin laptop{
    @media screen and (max-width: 1200px){
        @content;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px
}
.card{
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    padding: 32px;
    max-width: 1536px;
    margin: 0 auto;
    box-shadow: 1px 1px 8px 1px #ddd;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.success{
    background-color: #5cb85c;
}
.danger{
    background-color: #d9534f;
}

.textarea{
    width: 100%;
    padding: 8px 10px;
    border: none;
    outline: none;
    resize: none;
    margin: 8px 0;
    .ql-toolbar{
        border: 2px solid #ccc;
        border-radius: 8px 8px 0 0;
    }
    .ql-container{
        border: 2px solid #ccc;
        border-radius: 0px 0px 8px 8px;
        font-family: 'Poppins', sans-serif;
        height: 200px;
        overflow-y: auto;
    }
}